#banner {
    margin-top: 50px;
    
   
}

#banner im{
   width: 70%;
   height: 30%;

}
#banner .contenedor {
    position:absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    background:linear-gradient(50deg,#0a145f,rgba(218, 236, 239, 0.65));
    text-align:center;
    margin: auto;
}

banner h2{
    font-size: 28spx
}
@media (min-width:480px){
    #banner h2{
        font-size: 40px;
    }   
@media (min-width:768px){
    #banner {
        height: 400px;
        overflow:hidden;
    }
    #banner img{
        height: auto;
        margin-top:-50px;
    
        
    }
